
.landing1 {
      display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    gap: 20px;
    justify-content: center; 
    max-width: 1500px;
  
}
.landing h1{
    text-align: center;
}


.landing2 {
    background: white;
    border: 0.3px solid #ccc;
    border-radius: 12px;
    width: 220px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}


.landing2:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}


.landing3 {
    height: 180px;
    width: 180px;
    background-color: #edf2fa;
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.landing3 img {
    max-height: 200px;
    max-width: 100%;
    object-fit: contain;
}
.wel{
    margin-top: 150px;
    color: blue;
}

.hh {
    
    font-weight: bold;
    margin: 5px 0;
}
.all5{
   
    margin-right: 20px;
}
.all4{
    padding-left: 10px;
}


.name {
    font-size: 1rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}


.new {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: red;
    margin-top: 20px;
    animation: blink 1.2s infinite;
}


@keyframes blink {
    0% { color: red; }
    50% { color: green; }
    100% { color: brown; }
}
.landing4 input{
  width: 180px;
  height: 50px;
  margin-left: 10px;
  border: none;
  font-size: 15px;
  font-family: cursive;
  

}
.landing4 input:hover{
    cursor:pointer ;
    text-decoration: underline;
    color: blue;
   

}
.landing4{
  
  margin-left: 70px;
  margin-top: 20px;
  
  margin-right: 70px;
}
.noo{
  padding-left: 20%;
  font-style: italic;
  font-size: large;
 
}
.landing{
    margin-top: 70px;
}
.sort{
    width: 100px;
    height: 50px;
    color: white;
    background-color: blue;
   border-radius: 10px;
   margin-bottom: 20px;
   margin-left: 80px;
}
.landing6 {
  position: fixed;
  top: 0;
  left: 0;
  
  background: rgba(0, 0, 0, 0.65); 
  z-index: 9998;
}
.landing5 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px 35px;
  border-radius: 14px;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  width: 90%;
}

@media (max-width: 900px) {
 
.landing1{
   display: grid;
   grid-template-columns: 1fr 1fr   ; 
}
}
@media (min-width: 900px) and (max-width: 1200px) {
  .landing1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .landing1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}