.my-orders {
  max-width: 1000px;
  margin: 80px auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  color: #333;
  
}

.my-orders h2 {
  text-align: center;
  font-size: 2rem;
  color: #222;
  margin-bottom: 30px;
  font-weight: 600;
}

.order-card {
  background: #90a3d7;
  border-radius: 10px;
  padding: 20px 25px;
  margin-bottom: 25px;
 
  transition: transform 0.25s ease;
}

.order-card:hover {
  transform: translateY(-4px);box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.order-card h4 {
  font-size: 20px;
  color: #444;
  margin-bottom: 5px;
}

.order-card p {
  font-size: 10px;
  margin: 3px 0;
}

.order-card h5 {
  margin-top: 12px;
  font-size: 20px;
  color: #555;
  font-weight: 600;
}

.order-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
  padding: 10px;
  background: #fafafa;
  border-radius: 10px;
  transition: background 0.2s ease;
}

.order-item:hover {
  background: #f1f1f1;
}

.order-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #eee;
}

.order-item div {
  flex: 1;
}

.order-item p {
  margin: 2px 0;
  font-size: 10px;
}

.order-card h4:last-of-type {
  margin-top: 12px;
  text-align: right;
  color: #000;
  font-weight: 600;
}




.my-orders p {

  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .order-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .order-item img {
    width:200px;
    height: 200px;
  }

  .order-card {
    padding: 15px;
  }
}
