.change-password-container {
  width: 400px;
  margin: 80px auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin-top: 200px;
}

.change-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background: #c8c8f9;
  color: blue;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background: #0056b3;
  color: white;
}

.message {
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
}

.form-group {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 69%;
  transform: translateY(-50%);
 
  cursor: pointer;
  color: #555;
}
