.sell2 {
  margin-top: 110px;
}
.sell2 {
  text-align: center;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:  #6466d8;
}
.sell1 {
    border: 1px solid transparent;
    box-shadow: 1px 2px 10px 0px black;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 30px;
  margin-left: 5%;
  padding-top: 30px;
  margin-top: 70px;
  padding-bottom: 30px;
}
.sell1 input {
  width: 30%;
  margin-left: 35%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 10px 0px black;
  height: 40px;
}
.sell textarea {
  width: 30%;
  margin-left: 35%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 10px 0px black;
  height: 40px;
}
.option {
  width: 30%;
  margin-left: 35%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 10px 0px black;
  height: 40px;
}
.img {
  width: 40%;
  margin-left: 35%;
  border: none;
  border-radius: 10px;
  background-color: white;
}
.sell1 label {
  margin-left: 35%;
}
.sell3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 900px) {
  .sell input {
    width: 35%;
    margin-left: 30%;
  }
  .sell textarea {
    width: 35%;
    margin-left: 30%;
  }
  .option {
  width: 35%;
  margin-left: 30%;
}
}
.button{
    width: 20%;
    margin-left: 35%;
    width: 150px;
    margin-top: 30px;
    border-radius: 10px;
    height: 40px;
    background-color: white;
    box-shadow: 1px 2px 5px 1px;
    background-color: #6466d8;
    color: white;
}
.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.preview-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}
