.usepro1 h3 {
  margin-top: 100px;
  text-align: center;
  color:  #6466d8;
  text-decoration: underline;
  font-family: cursive;
}

.usepro2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 40px auto;
}

.usepro3 {
  width: 400px;
  height: auto;
  border: 1px solid black;
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.usepro5 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.image-containers {
  width: 400px;
  height: auto;
}

.image-containers img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.text-details {
  display: flex;
  flex-direction: column;
}

.usepro4 {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.remove,
.del,
.navi {
  background-color: #6466d8;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.remove,.del,.navi:active{
  transform: scale(0.9);
}

.alert {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
.usepro8{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:black;
  opacity: 0.8; 
  z-index: 9;
 
    
}
.usepro9{
     position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:white;
  z-index: 10;
  padding: 25px 30px;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width: 400px;
 
}
