.al1{
    margin-top: 70px;
    background-color: #c8c8f9;
    
     display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
  gap: 30px;
  justify-items: center;
  align-items: start;
  max-width: 1500px;
  padding: 0 20px;
}

@media (max-width: 900px) {
  
.al1{
   display: grid;
   grid-template-columns: 1fr 1fr   ; 
}
}
@media (min-width: 900px) and (max-width: 1200px) {
  .al1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .al1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}