.sellg h1{
    color:red ;
}
.sellg h3{
    color:  #6466d8;
}
.sellg button{
    border-radius: 10px;
    background-color:  #6466d8;
    color: white;
    width: 200px;
    height: 50px;
    
}
.sellg button:hover{
    background-color: lightblue;
    color: black;
}
.sellg button:active{
    transform: scale(0.9);
}

.sellg{
    margin: 200px auto;
   text-align: center;
}